[Desktop Entry]
Comment=Transparent theme for KDE 5.x 
Comment[it]=Tema trasparente per KDE 5.x
Name=Diamond black
Name[ar]=أسودالماس
Name[bg]=ডায়মন্ড черно
Name[bn]=Алмаз
Name[bn_IN]=Алмаз
Name[bs]=Dijamant
Name[ca]=Diamant black
Name[ca@valencia]=Diamant
Name[cs]=diamant
Name[da]=Diamant
Name[de]=Diamond schwarz
Name[el]=διαμάντι
Name[en_GB]=Diamond black
Name[es]=Diamante negro
Name[et]=Diamond black
Name[fa]=الماس
Name[fi]=Diamond musta
Name[fr]=Diamant noir
Name[fy]=Diamond black
Name[ga]=Diamond black
Name[gl]=Diamond black
Name[he]=יהלום
Name[hr]=Dijamantno crno
Name[hu]=Gyémánt fekete
Name[ia]=Diamond black
Name[id]=Berlian hitam
Name[is]=diamanto
Name[it]=Diamante scuro
Name[ja]=Diamond ireng
Name[kk]=Diamond black
Name[km]=ពេជ្រ
Name[kn]=ವಜ್ರ
Name[ko]=다이아몬드
Name[lt]=Diamant juoda
Name[lv]=Dimanta schwaarz
Name[mai]=हीरा
Name[mk]=алмаз црна
Name[nb]=Diamant black
Name[nds]=Diamant black
Name[nl]=Diamant zwart
Name[nn]=Diamant black
Name[pl]=Diamond czarny
Name[pt]=Diamond preto
Name[pt_BR]=Diamond
Name[ro]=Diamant negru
Name[ru]=алмаз черный
Name[se]=Diamant svart
Name[sk]=Diamant čierna
Name[sr]=дијамант
Name[sr@ijekavian]=дијамант
Name[sr@ijekavianlatin]=Diamant black
Name[sr@latin]=Diamant
Name[sv]=Diamont black
Name[ta]=Diamond black
Name[th]=เพชร
Name[tr]=Diamond black
Name[uk]=Алмаз
Name[vi]=Diamond black
Name[wa]=Diamond black
Name[x-test]=xxDiamondxx
Name[zh_CN]=钻石 黑色
Name[zh_TW]=Diamond black

X-KDE-PluginInfo-Author=Mike
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=Diamond-black
X-KDE-PluginInfo-Website=http://kde-look.org
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-Depends=KDE4
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-API=5.0
