[Desktop Entry]
Comment=Transparent theme for KDE 5.x 
Comment[it]=Tema trasparente per KDE 5.x
Name=Diamond
Name[ar]=الماس
Name[bg]=ডায়মন্ড
Name[bn]=Алмаз
Name[bn_IN]=Алмаз
Name[bs]=Dijamant
Name[ca]=Diamant
Name[ca@valencia]=Diamant
Name[cs]=diamant
Name[da]=Diamant
Name[de]=Diamond
Name[el]=διαμάντι
Name[en_GB]=Diamond
Name[es]=Diamante
Name[et]=Diamant
Name[fa]=الماس
Name[fi]=Diamond
Name[fr]=Diamant
Name[fy]=Diamond
Name[ga]=Diamont
Name[gl]=Diamante
Name[he]=יהלום
Name[hr]=Diamond
Name[hu]=gyémánt
Name[ia]=Diamond
Name[id]=Berlian
Name[is]=diamanto
Name[it]=Diamante
Name[ja]=Diamond
Name[kk]=Diamond
Name[km]=ពេជ្រ
Name[kn]=ವಜ್ರ
Name[ko]=다이아몬드
Name[lt]=Diamant
Name[lv]=Dimanta
Name[mai]=हीरा
Name[mk]=алмаз
Name[nb]=Diamant
Name[nds]=Diamant
Name[nl]=Diamant
Name[nn]=Diamant
Name[pl]=Diamond
Name[pt]=Diamond
Name[pt_BR]=Diamond
Name[ro]=Diamant
Name[ru]=алмаз
Name[sk]=Diamant
Name[sr]=дијамант
Name[sr@ijekavian]=дијамант
Name[sr@ijekavianlatin]=Diamant
Name[sr@latin]=Diamant
Name[sv]=Diamant
Name[ta]=Diamond
Name[th]=เพชร
Name[tr]=Diamond
Name[uk]=Алмаз
Name[vi]=Diamond
Name[wa]=Diamond
Name[x-test]=xxDiamondxx
Name[zh_CN]=钻石
Name[zh_TW]=Diamond

X-KDE-PluginInfo-Author=Mike
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-Email=staff_ck1[at]hotmail[dot]com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=Diamond
X-KDE-PluginInfo-Version=3.0.2
X-KDE-PluginInfo-Website=https://opendesktop.org
X-Plasma-API=5.0
